@using Newtonsoft.Json.Linq
@model JObject
@{
    int num = 0;
    if (Session["role"] != null)
    {
        int.TryParse(Session["role"].ToString(), out num);

    }
    bool Editor = (num >= 10);

    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Ydesvej%204B%2C%20St-14%2C%208500%20Gren%C3%A5%2C%20Denmark&key=AIzaSyCL7nLbeWhn27u8wLNd_qBwfJnO9e6CYsA&maptype=satellite" allowfullscreen></iframe>
<div id="logocontainer">
    <div>
        <img src="~/Images/LyngbyBryghusLogo.png" />
    </div>
    <div class="redline"></div>
</div>







<div style="max-width: 960px;" class="container" id="contactpage">
    <div class="row">
        <div class="col-lg-6">
            <div class="textbox">
                @Html.Raw(Model["Pages"]["/Home/Contact"]["Title"])
                @if (Editor)
                {
                    <a data-jPath="['Pages']['/Home/Contact']['Title']" data-target=".Contact-title" data-Title="Overskrift" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                }
            </div>
            <ul>
                <li>
                    <div class="textbox">
                        @Html.Raw(Model["Pages"]["/Home/Contact"]["Name"])
                        @if (Editor)
            {
                            <a data-jPath="['Pages']['/Home/Contact']['Name']" data-target=".Contact-name" data-Title="Navn" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </li>
                <li>
                    <div class="textbox">
                        @Html.Raw(Model["Pages"]["/Home/Contact"]["Address"])
                        @if (Editor)
                        {
                            <a data-jPath="['Pages']['/Home/Contact']['Address']" data-target=".Contact-address" data-Title="Adresse" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </li>
                <li>
                    <div class="textbox">
                        @Html.Raw(Model["Pages"]["/Home/Contact"]["City"])
                        @if (Editor)
                        {
                            <a data-jPath="['Pages']['/Home/Contact']['City']" data-target=".Contact-city" data-Title="By" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </li>
                <li>
                    <div class="textbox">
                        @Html.Raw(Model["Pages"]["/Home/Contact"]["Mail"])
                        @if (Editor)
                        {
                            <a data-jPath="['Pages']['/Home/Contact']['Mail']" data-target=".Contact-mail" data-Title="E-mail" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </li>
                <li>
                    <div class="textbox">
                        @Html.Raw(Model["Pages"]["/Home/Contact"]["Phone"])
                        @if (Editor)
                        {
                            <a data-jPath="['Pages']['/Home/Contact']['Phone']" data-target=".Contact-phone" data-Title="Telefonnummer" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span></a>
                        }
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>Send os en besked</h2>
            <form method="post" action="/Home/Contactform">
                <label>Firmanavn:</label>
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                <br />
                <label>Navn:</label>
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                <br />
                <label>E-mailadresse:</label>
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                <br />
                <label>Tlf. nummer:</label>
                <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
                <br />
                <label>Besked:</label>
                <br />
                <textarea style="width:100%"></textarea>
            </form>
        </div>
    </div>
</div>