@using Repos.Models
@using Lyngby_Bryghus.ViewModels
@model ProductsView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="container paddingT20" id="product-all">
    <header class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h2 class="Product-title">@Html.Raw(Model.json["Pages"]["/Product/Index"]["Title"])</h2>
            <a data-jPath="['Pages']['/Product/Index']['Title']" data-target=".Product-title" data-Title="Produkt Overskrift" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span> Rediger</a>
            <p class="Product-info">
                @Html.Raw(Model.json["Pages"]["/Product/Index"]["Info"])
            </p>
            <a data-jPath="['Pages']['/Product/Index']['Info']" data-target=".Product-info" data-Title="Produkt info" class="Edit btn btn-edit"><span class="glyphicon glyphicon-edit"></span> Rediger</a>
        </div>


        <div class="dropdown">
            <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Kategori
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/Product/Index" data-tag="*" class="cattegoryLink">Alle</a></li>
                @foreach (Category cat in Model.Categories)
                {
                    <li><a href="/Product/Index?tag=@cat.Name" data-tag="@cat.Name" class="cattegoryLink">@cat.Name</a></li>
                }

            </ul>
        </div>

    </header>


    <div class="row paddingT20">
        @foreach (RProducts product in Model.Products)
		{
			string tag = Request.QueryString["tag"];
			bool show = string.IsNullOrEmpty(tag);
			<a href="/Product/Details/@product.ID" data-tags="@foreach (Category Cat in product.categorys) { WriteLiteral(Cat.Name + ','); if (!show) { show = tag.Equals(Cat.Name); } }" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6" style="display: @(show? "block":"none");">
                <figure>
                    <img src="~/Images/ProductAllImages/Small/Canadian.png" class="img-responsive" />
                    
                    <figcaption>@product.Name</figcaption>
                </figure>
            </a>
        }



    </div>
</section>
